/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
}

/* Page Handler */
    /* Hide all pages */
    .page {
        display: none;
    }

    /* Show the active page */
    .page.active {
        display: block;
    }

/* Navigation Styles */
#navigation {
    background-color: grey;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
}

/* Making Links Black */
a {
    color: black;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.separator {
    height: 1px;
    background-color: lightgray;
    margin: 20px;
}


/* Page Styles */
section {
    margin-left: 200px;
    padding: 30px;
    background-color: yellow;
    min-height: 100vh;
}

.page-title {
    background-color:aquamarine;
}

.home {
        color: green;
}

